{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "graphsql.fullname" . }}
  labels:
    {{- include "graphsql.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "graphsql.selectorLabels" . | nindent 6 }}
  policyTypes:
    {{- range .Values.networkPolicy.policyTypes }}
    - {{ . }}
    {{- end }}
  ingress:
    - from:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: http
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 443
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 5432
{{- end }}
